
<!--the horror!--> 

<style>
.downloadBoxRow{
 line-height:70px;
}
</style>

<table >
<tr style="border: 1px solid #808080;"></tr>
</tr>
{% for thumbnail,name,downloadlink,filetype,fileobject in download %}
<tr class="downloadBoxRow">
{% if filetype == "norender" %}
<td></td>
{% else %}
<td>
<a href="{{downloadlink}}"><img src="{{thumbnail.filename.url}}"></a>
</td>
{% endif %}
<td><a style="padding-left: 20px;" href="{{downloadlink}}">{{name}}</a></td>
<td><a style="padding-left: 20px;" href="{{downloadlink}}">{{fileobject.filename.size|filesizeformat}}</a></td>
</tr>
<tr style="border: 1px solid #808080;"></tr>
{% endfor %}
</table>
