{% load staticfiles %}
<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 5.0 Transitional//EN">
<HTML>
 <HEAD>
  <TITLE> JSC3D - Thumbnail generator </TITLE>
 </HEAD>

 <BODY>
<style media="screen" type="text/css">
* { margin: 0; padding: 0;}

body, html { height:100%; }

#cv {
    position:absolute;
}
</style>

        <canvas id="cv" ></canvas>
        <script type="text/javascript" src="{% static ""%}jsc3d.min.js"></script>
        <script type="text/javascript">
        cv.width  = window.innerWidth;
        cv.height = window.innerHeight;
        var canvas = document.getElementById('cv');
        var viewer = new JSC3D.Viewer(canvas);
        viewer.setParameter('SceneUrl', '{{ path }}');
        viewer.setParameter('InitRotationX', 20);
        viewer.setParameter('InitRotationY', 20);
        viewer.setParameter('InitRotationZ', 00);
        viewer.setParameter('ModelColor', '#AA0000');
        viewer.setParameter('BackgroundColor1', '#dddddd');
        viewer.setParameter('BackgroundColor2', '#dddddd');
        viewer.setParameter('RenderMode', 'flat');
//        viewer.setParameter('Background','off')
        viewer.init();
        viewer.update();
  </script>
 </BODY>
</HTML>
