{% extends "includes.html" %}


{% block contenttop %}
                        <div class="grid_16 showcase_content"> 
                        	<div class="grid_16"><h2>{{ project.title }}</h2></div>
                            <div class="main_thumbnail grid_4 alpha">
                                {% include "thumbview.html" with images=mainthumb  %}
                            </div>
                            <div class="gallery_thumbnails grid_12 omega">
                                {% include "gallery.html" %}
                            </div>
                            <div class="showcase_links grid_16">
                                <a href="/download/{{ project.pk }}" class="iframe">Download File</a>
                                <a href="{{ downloadurl }}">Download All</a>
                            </div>
                            <div class="clear clearfix"></div>
                        </div>
						<div class="clear clearfix"></div>
{% endblock contenttop %}


{% block content %}

<title>Rhombik - {{project.title}}</title>


{% load gallerfy %}

					<!-- Projects-->
					<span>
					<div class="title"><h1>{{ project.title }}</h1></div>
					{% if user == project.author %}
					<div class="editbutton" align="right"> <a href="/edit/{{ project.pk }}">Edit</a></div>
					{% endif %}
					</span>
					<div class="time">{{ project.created }}</div>
					<div class="author"><a href="/userProfile/{{ project.author.pk }}">{{ project.author }}</a></div>
					<div class="body">

					  {{ project.body_rendered|gallerfy|safe }}
					  
					  <script src="http://code.jquery.com/ui/1.10.3/jquery-ui.js"></script>
					  
					  <script>
					    $(function() {
					    $( "#tabs" ).tabs();
					    });
					  </script>
					  
					  
					  <div id="tabs">
					    
					    <ul>
					      {% for html, name in texts %}
					        <li><a href="#{{name}}">{{name}}</a></li>
					      {%endfor%}
					    </ul>
					    
					    {% for html, name in texts %}
					      
					      
					      <div id="{{name}}">
					      
					        <div name="toggleText" style="display: block">
					          <br>
					          <b>
					          {{name}}
					          </b>
					        </div>
					      
					        <p>
					        {{html.body_rendered | safe}}
					      
					      </div>
					    {%endfor%}
					  
					  </div>
					  
					</div>
					<div class="tags">
					{% for tag in project.tags.all %} 
					<span class="tagrank=({{tag.num_times}})"> <a href="/tag/{{tag}}">{{tag}}</a></span>
					{% endfor %} 
					</div>





<script language="javascript"> 
function toggle() {
    var ele = document.getElementsByName("toggleText");
     for(var i=0;i<ele.length;i++)
            ele[i].style.display = "none";
} 
window.onload = toggle;
</script>


{% endblock content %}
