{% extends "includes.html" %}

{% block head %}
<meta property="og:title" content="{{project.title}} - On rhombik.com" />
{# AHAHAHAHA LOOKAT AT MY STRING #}
{#Business cat wants to know if you can make it more wiggly#}

{% if mainthumb.0.0.filename %}
<meta property="og:image" content="{{mainthumb.0.0.filename.url}}" />
{% else %}
{% endif %}
<title>{{project.title}} - Rhombik</title>
{% endblock head %}


{% block content %}

{% load gallerfy %}

<div class="col-md-9">
	<h1 class="title">{{ project.title }}</h1>
	<div class="thumbnail printableImageContainer">
		{% include "gallery.html" with images=mainthumb %}
	</div>    

	<div class="printableThumbs">
		{% include "gallery.html" %}
		{% if moreobjects != 0 %}
		<span><a href="download/">+{{moreobjects }}<br> others</a></span>
		{% endif  %}
	</div>

	<div class="clearfix"></div>

	{% include "texttabs.html" %}

	<h2>Comments</h2>
	{% include "commenttree.html" with user=user projectpk=project.pk nodes=nodes %}

	{% if user.is_authenticated %}

	{% include "commentform.html" with projectpk=project.pk form=commentform %}

	{% else %}

	<a href="/register/">Sign up</a> or <a href="/login/">log in</a> to comment!

	{% endif %}

</div>
<div class="col-md-3">
	<h3>Project Info</h3>
	<hr>
	<div class="bodyContainer thumbnail">
		<div class="containerContent">
			{% if user == project.author %}
			<a href="/edit/{{ project.pk }}" class="btn btn-default fullwidth">Edit</a>
			<hr>
			{% endif %}
			{% include "usertagcard.html" with user=author profile=authorprofile userpic=authorpic %}
		</div>

		{# The rating block #}
		{% load ratings %}
		{% rating_by_request request on project.rating as vote %}

		Score:
		<span id="projectScore">
			{% if not project.ratingCount %}
			0
			{% else %}
			{{ project.ratingCount }}
			{% endif %}
		</span>
		{#user vote. Null means no vote. 1 means downvote. 2 means upvote. #}
		{# You can remove your vote by voting 0 #}

		{% if not vote  %}
		<a href="vote/2/"><i class="fi-like votebutton upvote"></i></a>
		<a href="vote/1/"><i class="fi-dislike votebutton downvote"></i></a>
		{% elif vote == 1 %}
		<a href="vote/2/"><i class="fi-like votebutton upvote"></i></a>
		<a href="vote/0/"><i class="fi-dislike votebutton downvote active"></i></a>
		{% elif vote == 2 %}
		<a href="vote/0/"><i class="fi-like votebutton upvote active"></i></a>
		<a href="vote/1/"><i class="fi-dislike votebutton downvote"></i></a>
		{% endif %}

		{#Or you can just call {{Vote}} if you want the value for javascript.#}
		<br>
		{#Both of these will be null if no one has voted/downloaded. So you can use the "if not" template tag. #}
		Downloads: 
		<span id="downloadsScore">
			{{ project.downloadcount.score }}
		</span>
		<br>
		Published: <span title="{{project.created}}" > {{ project.created|timesince }} ago </span>

		{# end ratings #}

	</div>
	{% comment %}

	<div class="btn-group btn-group-justified bodycontainer">
		{% if not vote  %}
		<a href="vote/2/" class="btn btn-default"><i class="fi-like votebutton upvote"></i></a>
		<a href="vote/1/" class="btn btn-default"><i class="fi-dislike votebutton downvote"></i></a>
		{% elif vote == 1 %}
		<a href="vote/2/" class="btn btn-default"><i class="fi-like votebutton upvote"></i></a>
		<a href="vote/0/" class="btn btn-default"><i class="fi-dislike votebutton downvote active"></i></a>
		{% elif vote == 2 %}
		<a href="vote/0/" class="btn btn-default"><i class="fi-like votebutton upvote active"></i></a>
		<a href="vote/1/" class="btn btn-default"><i class="fi-dislike votebutton downvote"></i></a>
		{% endif %}
	</div>
	{% endcomment %}

	<!-- :/ I am not a clever man. -->
	<h3></h3>

	<a href="download/" class="btn btn-default fullwidth">Download Files</a>
	{% if downloadurl %}
	<a href="{{downloadurl}}" class="btn btn-default fullwidth downloadAll">Download All</a>

	{% endif %}


	<h3>Tags</h3>
	<hr>
	<div class="thumbnail">
		<div class="containerContent taglist">
			{% for tag in project.tags.all %}
			<span class="tagrank=({{tag.num_times}}) tag btn btn-default"> <a href="/search/?q=&tags={{tag}}">{{tag}}</a></span>
			{% endfor %}
		</div>
	</div>
</div>


{% comment %}
Only uncomment to here. The rest is cruft.
{% load threadedcomments_tags %}

<b>***This is the comments place.***</b>

{% render_comment_list for project %}
{% render_comment_form for project %}
{%endcomment%}

{% endblock content %}
