{% extends "includes.html" %}

{% block content %}

<title>Rhombik - {{project.title}}</title>


{% load gallerfy %}

<div class="col-md-9">
                        <h1 class="title">{{ project.title }}</h1>
                        <span class="author small">by <a href="/userProfile/{{ project.author.pk }}">{{ project.author }}</a></span>
                        <span class="time small" title="{{project.created}}" > {{ project.created|timesince }} ago</span>
                        <div class="thumbnail printableImageContainer">
                        {% include "gallery.html" with images=mainthumb %}
                        </div>    

                        <div class="printableThumbs">
                        	{% include "gallery.html" %}
                        {% if moreobjects != 0 %}
                        <span><a href="download/">+{{moreobjects }}<br> others</a></span>
                        {% endif  %}
                        </div>

                        <div class="clearfix"></div>

                        {% include "texttabs.html" %}


			{% include "commenttree.html" with user=user projectpk=project.pk nodes=nodes %}

			{% if user.is_authenticated %}

				{% include "commentform.html" with projectpk=project.pk form=commentform %}

			<!-- look it is my pretty comment javascript! -->
                                <script>$(document).ready(function(){
					console.log($('.commentForm'));
					$('.commentForm')[0].innerHTML="<a href=\"/project/{{ project.pk }}/comment/{{ commentRootId }}/\">New Comment</a>";
					$('.commentForm')[0].href="/project/{{ project.pk }}/comment/{{ commentRootId }}/";
					$('.commentForm').click(function(e){
						$.get(e.currentTarget.href,function(data,status){
							var newdiv = document.createElement('div');
							newdiv.innerHTML=data;
							e.currentTarget.parentNode.insertBefore(newdiv, e.currentTarget.nextSibling);
							e.currentTarget.hidden=true;
						});
						e.preventDefault();
					});

				<!-- A function for canceling comment forms. -->
					function commentCancel(el, replyEl)
					{
						replyEl.hidden=false;
						el.parentNode.remove();
					}
				<!-- The function for adding the comment form when replying. -->
					$('.commentReply').click(function(e){
						$.get(e.currentTarget.href,function(data,status){
							var cancelButton = document.createElement('a');
							cancelButton.innerHTML="Cancel";
							cancelButton.className="commentCancel";
							cancelButton.onclick=function() { commentCancel(this, e.currentTarget); };
							var newdiv = document.createElement('div');
							newdiv.innerHTML=data;
							newdiv.insertBefore(cancelButton, null);
							e.currentTarget.parentNode.insertBefore(newdiv, e.currentTarget.nextSibling);
							e.currentTarget.hidden=true;
						});
						e.preventDefault();
					});
				});
				</script>

			{% else %}

				Sign up/in to comment!

			{% endif %}

</div>
<div class="col-md-3">
     <h3>Printable Info</h3>
     <hr>
     <div class="bodyContainer thumbnail">
             <div class="containerContent">
                     {% if user == project.author %}
                             <a href="/edit/{{ project.pk }}" class="btn btn-default fullwidth">Edit</a>
                             <hr>
                     {% endif %}
                     {% include "usertagcard.html" with user=author profile=authorprofile userpic=authorpic %}
             </div>

     	{# The rating block #}
     	{% load ratings %}
     	{% rating_by_request request on project.rating as vote %}

     	Score:
     	{% if not project.ratingCount %}
     	0
     	{% else %}
     	{{ project.ratingCount }}
     	{% endif %}
     	{#user vote. Null means no vote. 1 means downvote. 2 means upvote. #}
     	{# You can remove your vote by voting 0 #}
     	{% if not vote  %}
     	<a href="vote/2/"><i class="fi-like votebutton upvote"></i></a>
     	<a href="vote/1/"><i class="fi-dislike votebutton downvote"></i></a>
     	{% elif vote == 1 %}
     	<a href="vote/2/"><i class="fi-like votebutton upvote"></i></a>
     	<a href="vote/0/"><i class="fi-dislike votebutton downvote active"></i></a>
     	{% elif vote == 2 %}
     	<a href="vote/0/"><i class="fi-like votebutton upvote active"></i></a>
     	<a href="vote/1/"><i class="fi-dislike votebutton downvote"></i></a>
     	{% endif %}
     	{#Or you can just call {{Vote}} if you want the value for javascript.#}
     	<br>
     	{#Both of these will be null if no one has voted/downloaded. So you can use the "if not" template tag. #}
     	Downloads: {{ project.downloadcount.score }}
     	{# end ratings #}

     </div>
     <a href="download/" class="btn btn-default fullwidth">Download Files</a>
     {% if downloadurl %}
     <a href="{{downloadurl}}" class="btn btn-default fullwidth">Download All</a>
     {% endif %}
     {{downloadurl}}


     <h3>Tags</h3>
     <hr>
     <div class="thumbnail">
             <div class="containerContent">
                     {% for tag in project.tags.all %}
                             <span class="tagrank=({{tag.num_times}}) btn btn-default"> <a href="/search/?q=&tags={{tag}}">{{tag}}</a></span>
                     {% endfor %}
             </div>
     </div>
</div>



{% comment %}
Only uncomment to here. The rest is cruft.
				{% load threadedcomments_tags %}
				
				<b>***This is the comments place.***</b>
				
				{% render_comment_list for project %}
				{% render_comment_form for project %}
{%endcomment%}

{% endblock content %}
