{% extends "includes.html" %}

{% block content %}

<h1>Rhombik - Designs for 3D printed objects</h1>

<div class="warning panel" style="background-color: #b0c4de;">
  <div class="panel-body">
<b>Warning- Rhombik is pre-alpha software</b>
<br>
If you find a problem you can report it at our <a href="https://github.com/Rhombik/rhombik-object-repository/issues?state=open"><b>feature requests/bug reports</b></a> page. 
<br>
Rhombik is open-source. One way you could speed up development is to donate your time and energy improving our code base. We use a python web framework called django, but there's plenty of room for html/css improvements as well. If you can't code, you can always <a href="https://github.com/Rhombik/rhombik-object-repository#donate"><b>donate</b></a> money. Every little bit helps.
<br>

Keep a backup of all your files, and don't be too suprised if we go under. The source code will always be available, but these things cost money to run.

Thanks.
</div>

</div>

<h2>New projects    <a href=/search/?q=&tags=&sort=new>></a></h2>
        <!-- Projects-->
        {% include "list/userpref.html" with listdata=listdata %}
<h2>Popular projects (all time)    <a href=/search/?q=&tags=&sort=votes>></a></h2></h2>
{% endblock content %}
