{% comment %}

 <script>
//$(function() {
//$( "#radio" ).buttonset();
//});
</script>

{% if not user.profile.listpref or user.profile.listpref == 1 %}

<div id="radio">
<input selected type="radio" id="radio1" name="radio"><label for="radio1">Thumbnails</label>
<input type="radio" id="radio2" name="radio" checked="checked"><label for="radio2">Details</label>
</div>


{% else %}
<div id="radio">
<input type="radio" id="radio1" name="radio"><label for="radio1">Thumbnails</label>
<input selected type="radio" id="radio2" name="radio" checked="checked"><label for="radio2">Details</label>
</div>

{% endif %}

{% endcomment %}
