@import url('globalDeclarations.css');
@import url('UI.css');
@import url('header.css');
@import url('body.css');
@import url('profile.css');
@import url('footer.css');
@import url('mediaQueries.css');

body {
	font-family: 'source sans pro', arial, verdana, sans-serif;
	background-color: rgb(242, 242, 242);
	width: 100%;
}

a:link, a:visited, a:active {
	color: rgb(173, 112, 211);
	text-decoration: none;
}

a:hover, a:focus {
	color: rgb(58, 48, 62);
	outline-color: rgb(173, 112, 211);
}

i {
	position: relative;
	top: 1px;
}

.small {
	font-size: 10pt;
}

hr {
	margin: 12px 0;
	border: none;
	border-top: 1px solid rgb(180,180,180);
}

h1.title {
	display: inline-block;
	margin-bottom: 10px;
}

#outerWrap {
	width: 100%;
	overflow-x: hidden;
}

	#innerWrap {
		float: right;
		width: 100%;
	}
	
@media screen
and (min-width: 768px)
{

	.left {
		float: left;
	}

	.right {
		float: right;
	}

}