/**
*
* Header Declarations
*
**/

header {
	width: 100%;
	min-height: 52px;
	padding: 10px 0; /* Total element height of 72px */
	font-size: 14pt;
	background-color: rgb(58, 48, 62);
	z-index: 999;
}

	header > * { line-height: 52px; }
	
	header i {
		display: block;
		float: left;
		padding: 1px 5px 0 0;
		font-size: 16pt;
	}
	
	header #home {
		display: block;
		float: left;
		width: 40px;
		height: 49px;
		margin: 0 50px 0 0;
		background: url(../img/logo2x.png) 0 0 no-repeat;
		background-size: 100%;
	}
	
		header #home .image-hover {
			height: 0;
			width: 0;
		}
		
		header #home:hover .image-hover {
			width: 40px;
			height: 49px;
		}
		
	#navToggle, #navToggleHack, #searchToggle {
		display: none;
		float: left;
		width: 20px;
		margin: 0 auto;
		cursor: pointer;
		font-size: 20pt;
		color: white;
	}
	
		#userInfo #searchToggle > a {
			color: rgb(255, 255, 255);
			margin: 0;
		}
	
		input#navHack { display: none; }
		

	#nav { 
		list-style: none;
	}
	
		#userInfo { /* Floats user dialogue to the right side */
			float: right;
			margin: 0 15px 0 0;
		}
			
		#nav li, #userInfo a {
			display: block;
			float: left;
			margin: 0 0 0 25px;
		}
		
			#nav li a:link, #nav li a:visited, #userInfo a:link, #userInfo a:visited, #mobileNav a:link, #mobileNav a:visited {
				font-weight: 400;
				color: rgb(180, 180, 180);
				text-decoration: none;
			}
				
			#nav li a.active, #nav li a:hover, #nav li a:active, #nav li a:focus, #userInfo a:active, #userInfo a:hover, #userInfo a:focus, #mobileNav a:hover, #mobileNav a:active, #mobileNav a:focus { color: rgb(255,255,255); }
			
			#mobileNav a.category { font-weight: 600; }

#mobileNav {
	display: none;
	position: fixed;
	top: 0px;
	left: -260px;
	float: left;
	width: 260px;
	height: 100%;
	overflow-y: scroll;
	background-color: rgb(58, 48, 62);
}

	#mobileNav ul {
		width: 100%;
		margin: 26px 0 0 25px;
		list-style: none;
	}
	
		#mobileNav ul li {
			display: block;
			padding: 15px 15px;
		}
		
			#mobileNav ul.subNav {
				width: 75%;
				margin: 0;
				padding: 15px 0 0 0;
				border-bottom: 1px solid rgb(68, 58, 72);
			}
			
#mobileSearch {
	display: none;
	width: 100%;
	margin-top: -58px;
	background: rgb(68, 58, 72);
}
	#mobileSearch fieldset {
		padding: 10px 20px;
	}
	
		#mobileSearch .fill {
			overflow: hidden;
			float: none;
		}
		
		#mobileSearch #searchInput {
			width: 100%;
			margin: 0;
		}
		
		#mobileSearch #searchSubmit {
			float: right;
		}
			
#searchTags {
	min-height: 36px;
	padding: 0 0 7px 0;
	border-bottom: 1px solid rgb(180, 180, 180);
	background-color: rgb(255, 255, 255);
}

#scroller {
	float: left;
	width: 65%;
	margin-right: 10px;
	overflow: scroll;
}

#tagList {
	min-width: 3000px;
	list-style: none;
}

	.tagContainer {
		float: left;
		margin: 7px 20px 0 0;
		padding: 0px 10px;
		border-radius: 2px;
		font-size: 12pt;
		line-height: 35px;
		color: rgb(255, 255, 255);
		background-color: rgb(173, 112, 211);
	}

		.tagContainer i.deleteButton {
			padding: 0 0 0 15px;
			cursor: pointer;
		}
		.tagContainer i.deleteButton:hover {
			color:  rgb(58, 48, 62);
		}
		
	.clearAll {
		float: left;
		margin: 7px 20px 0 0;
		border-left: 1px solid rgb(180, 180, 180);
		line-height: 35px;
		color: rgb(180, 180, 180);
		cursor: pointer;
	}
	
	.clearAll:hover {
		color: rgb(51, 51, 51);
	}
	
		.clearAll .deleteAll {
			padding: 0 10px 0 15px;
			cursor: pointer;
		}