{% extends "includes.html" %}

{% block content %}
<div class="container_12">

  {% if user == owner %}
  <div class="editbutton" align="right"> <a href="/editProfile/">Edit</a></div>
  {% endif %}

    <div class="main">

<img src="{{ thumbpic }}" class="thumbnail"></a></h2></div>

        <!-- The users name in a nice big font  -->
                <div class="title"><h1>{{ owner.username }}</h1></div>
                <br>{{ owner.profile.bio }}<br>

<!--
                    <div class="body">{{ post.body_rendered|safe }}</div>
                 <div class="tags">   -->
                <p><br>These are all my pretty posts!<br><p><!--<--------this will be changed.-.-->
<!--
                <h2>Comments for {{ post.title }}:</h2>
-->

		{% include "list.html" %}
    </div>
<!--~my beautiful well thought out html template-->
</div>
{% endblock content %}

