{% extends "includes.html" %}

{% block content %}
<div class="container_12">

    <div class="main">

        <img src="{{ userPicThumb }}" class="thumbnail">

        <!-- The users name in a nice big font  -->
                <div class="title"><h1>{{usersname}}</h1></div>
                <br>{{ bio }}<br>

<!--
                    <div class="body">{{ post.body_rendered|safe }}</div>
                 <div class="tags">   -->
                <p><br>These are all my pretty posts!<br><p><!--<--------this will be changed.-.-->
<!--
                <h2>Comments for {{ post.title }}:</h2>
-->

		{% include "list.html" %}
    </div>
<!--~my beautiful well thought out html template-->
</div>
{% endblock content %}

