{% extends "includes.html" %}
{% load crispy_forms_tags %}

{% block content %}

<div class="container_12">
<div class="grid_12">
{% if project.title %}
<h1>{{ project.title }}</h1>
{% else %}
<h1>Untitled Project</h1>
{% endif %}

{% if draftSaved %}
<h2>Draft Saved Successfully!</h2>
{% endif %}

<form action="/edit/{{ project.pk}}/" method="post" onsubmit="window.onbeforeunload = null;">{% csrf_token %}
{{ form|crispy }}
{% if project.published %}
    <input class="btn btn-primary" type="submit" name="action" value="Save" />
    <input class="btn btn-info" type="submit" name="action" value="Publish" />
{% else %}
    <input class="btn btn-info" type="submit" name="action" value="Update" />
{% endif %}
<input class="pull-right btn btn-danger" type="submit" name="action" value="Delete" />
</form>
<hr>
{% if json_files %}
<script>
{ var JSONObject= {{ json_files }} }
</script>
{% endif %}

{% load multiuploader %}
{% multiupform  %}
</div>
</div>

<script>
$('#id_tags').tokenfield({
  typeahead: {
    prefetch: '/tags.json',
    remote: '/tags.json?q=%QUERY',
    delay: 100,
  },
  showAutocompleteOnFocus: true
});
</script>

{% endblock content %}
