{% extends "includes.html" %}

{% block content %}
<script>
var confirmOnPageExit = function (e) 
{
    // If we haven't been passed the event get the window.event
    e = e || window.event;

    var message = 'window.onbeforeunload = confirmOnPageExit;';

    // For IE6-8 and Firefox prior to version 4
    if (e) 
    {
        e.returnValue = message;
    }

    // For Chrome, Safari, IE8+ and Opera 12+
    return message;
};
window.onbeforeunload = confirmOnPageExit;
</script>


<div class="container_12">
<div class="grid_12">
{% if project.title %}
<h1>{{ project.title }}</h1>
{% else %}
<h1>Untitled Project</h1>
{% endif %}

{% if draftSaved %}
<h2>Draft Saved Successfully!</h2>
{% endif %}

<form action="/edit/{{ project.pk}}/" method="post" onsubmit="window.onbeforeunload = null;">{% csrf_token %}
{{ form.as_p }}
<br>
<input type="submit" name="action" value="Save" />
<input type="submit" name="action" value="Publish" />
<input style="float:right;" type="submit" name="action" value="Delete" />
</form>
<hr><br>
{% if json_files %}
<script>
{ var JSONObject= {{ json_files }} }
</script>
{% endif %}

{% load multiuploader %}
{% multiupform  %}
</div>
</div>

{% endblock content %}
