markdown django-simple-captcha django-taggit django-taggit-templatetags django-taggit-autosuggest django-haystack pyelasticsearch requests Selenium beautifulsoup4 South celery django-ratings django-threadedcomments
