{% include "includes.html" %}

<div>Username is root, password is root. Got to <a href="/admin">/admin</a> to add content<div>

    <div class="main">
	    <div class="container_12">
        <!-- Posts  -->
        {% for post in posts.object_list %}
		<div class="grid_4">
			<div class="vislink">
	       		        <div class=""><h2><a href="/post/{{ post.title }}"><img src="{{ post.thumbnailpath }}" class="bigthumb"></a></h2></div>
		                <div class="title"><h2><a href="/post/{{ post.title }}" class="title">{{ post.title }}</a></h2></div>
			</div>
		</div>
        {% endfor %}
	</div>       
        <!-- Next/Prev page links  -->
        {% if posts.object_list and posts.paginator.num_pages > 1 %}
        <div class="pagination">
            <span class="step-links">
                {% if posts.has_previous %}
                    <a href= "?page={{ posts.previous_page_number }}">newer entries &lt;&lt; </a>
                {% endif %}

                <span class="current">
                    &nbsp;Page {{ posts.number }} of {{ posts.paginator.num_pages }}
                </span>

                {% if posts.has_next %}
                    <a href="?page={{ posts.next_page_number }}"> &gt;&gt; older entries</a>
                {% endif %}
            </span>
        </div>
        {% endif %}

    </div>
