{% load mptt_tags %}

{% if user.is_authenticated %}
    <div class="btn btn-default"><a href="/project/{{ project.pk }}/comment/{{ commentRootId }}/?next={{ request.path }}">New Comment</a></div><br>
{% endif %}
<br>
<div class="comments">
    {% recursetree nodes %}
        <!-- This is supposed to be css'd nice with list stuff, but instead I'm div-ing it and giving it text indent. Someone will fix it!
        <li class="comment={{ node.id }}" style="text-indent:{{ node.level }}em;">
        {{ node.level }}
        -->
        <div id="comment={{ node.id }}" >
            <div>
            <b><a href="/userProfile/{{node.commenter.pk}}">{{ node.commenter }}</a></b> <font size="1" title="{{node.created}}">{{ node.created|timesince }} ago</font>
            <br>
            {{ node.commenttext }}
            <br>
            {% if user.is_authenticated %}
				{% if user == node.commenter %}
					<a class="editComment" href="/project/{{ projectpk }}/editComment/{{ node.id }}/?next={{ request.path }}">
					<font size="1">edit</font>
					</a><a>  </a>
				{% endif %}
            <a class="commentReply" href="/project/{{ projectpk }}/comment/{{ node.id }}/?next={{ request.path }}">
            <font size="1">reply</font>
            </a>
            {% endif %}
            </div>
            {% if not node.is_leaf_node %}
                <ul class="children">
                    {{ children }}
                </ul>
            {% endif %}
        </div>
    {% endrecursetree %}
</div>


