{% load mptt_tags %}

{% if user.is_authenticated %}
    <a href="/project/{{ project.pk }}/comment/{{ commentRootId }}/new/?next={{ request.path }}" class="btn btn-default">New Comment</a><br>
{% else %}
    <a class="btn btn-default" href="/legister/?next={{ request.path }}">Sign up or log in</a> to comment
{% endif %}
<br>
<div class="comments">
    {% recursetree nodes %}
        <div id="comment={{ node.id }}" >
            <div>
            <b><a href="/userProfile/{{node.commenter.pk}}">{{ node.commenter }}</a></b> <font size="1" title="{{node.created}}">{{ node.created|timesince }} ago</font>
            <br>
            {{ node.commenttext }}
            <br>
            {% if user.is_authenticated %}
				{% if user == node.commenter %}
					<a class="editComment" href="/project/{{ projectpk }}/comment/{{ node.parent.id }}/{{ node.id }}/?next={{ request.path }}">
					<font size="1">edit</font>
					</a>&nbsp;
				{% endif %}
            <a class="commentReply" href="/project/{{ projectpk }}/comment/{{ node.id }}/new/?next={{ request.path }}">
            <font size="1">reply</font>
            </a>
            {% endif %}
            </div>
            {% if not node.is_leaf_node %}
                <ul class="children">
                    {{ children }}
                </ul>
            {% endif %}
        </div>
    {% endrecursetree %}
</div>


