
{% extends "includes.html" %}

{% block content %}

<div class="container_12">


        {% if page.object_list %}
            <h3>Results</h3>
            <div class="container_12">
            {% for result in page.object_list %}
            <div class="grid_3">
<div class=""><h2><a href="/project/{{ project.title }}"><img src="{{ project.thumbnailpath }}" class="bigthumb"></a></h2></div>
            </div>
                <p>
            <div class="grid_9">
                    <a href="/project/{{ result.object.pk }}">{{ result.object.title }}</a>
                    {{ result.object.body_rendered|safe|truncatewords_html:20 }}
            </div>

                </p>
            {% empty %}
                <p>No results found.</p>
            {% endfor %}
            </div>
            {% if page.has_previous or page.has_next %}
                <div>
                    {% if page.has_previous %}<a href="?q={{ query }}&amp;page={{ page.previous_page_number }}">{% endif %}&laquo; Previous{% if page.has_previous %}</a>{% endif %}
                    |
                    {% if page.has_next %}<a href="?q={{ query }}&amp;page={{ page.next_page_number }}">{% endif %}Next &raquo;{% if page.has_next %}</a>{% endif %}
                </div>
            {% endif %}
        {% else %}
            {# Show some example queries to run, maybe query syntax, something else? #}
            There were no results. <br>
            Maybe try on of our exciting watermelon flavoured categories?
        {% endif %}
{% endblock %}
</div>
