
{% extends "includes.html" %}

{% block content %}

<div class="container_12">

            <h2>Results</h2>

{% comment %}
Showing projects from
<span class="dropdown">
  <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown">
    {{ fromtime.current|last }} <span class="caret"></span>
  </button>
  <ul class="dropdown-menu" >
  {% for data,text in fromtime.options %}
  <li role="presentation"><a href="/search/?{{cleaned_url}}&sort={{ordersort.current|first}}&From={{data}}">{{text}}</a></li>
  {% endfor %}
  </ul>
</span>  
{% endcomment %}

sorted by
<span class="dropdown">
  <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown">
    {{ ordersort.current|last }} <span class="caret"></span>
  </button>
  <ul class="dropdown-menu" >
  {% for data,text in ordersort.options %}
  <li role="presentation"><a href="/search/?{{cleaned_url}}&From={{fromtime.current|first}}&sort={{data}}">{{text}}</a></li>
  {% endfor %}
  </ul>
</span>.

<p></p>
        {% if page.object_list %}
            {% include "list/userpref.html" with listdata=listdata %}
            </div>
              {% if page.paginator.page_range.len > 1 %}
				  <ul class="pagination">
					{% if page.has_previous %}
					<li>
					  <a href="?page={{ page.previous_page_number }}&{{ request.GET.urlencode }}" aria-label="Previous">
						<span aria-hidden="true">&laquo;</span>
					  </a>
					</li>
					{% endif %}

					{% for pagenum in page.paginator.page_range %}
					{% ifequal pagenum page.number %}
						<li class="active"><a href="?page={{ pagenum }}&{{ request.GET.urlencode }}">{{pagenum}}</a></li>
					{% else %}
						<li><a href="?page={{ pagenum }}&{{ request.GET.urlencode }}">{{pagenum}}</a></li>
					{% endifequal %}
					{% endfor %}
					{% if page.has_next %}
					<li>
					  <a href=""?page={{ page.next_page_number }}&{{ request.GET.urlencode }}"" aria-label="Next">
						<span aria-hidden="true">&raquo;</span>
					  </a>
					</li>
					{% endif %}
				  </ul>
              {% endif %}

        {% else %}
            {# Show some example queries to run, maybe query syntax, something else? #}
            <p>No results found.</p>
        {% endif %}
{% endblock %}
</div>
