

<!--
Tristan did all the html formatting iup in here.
Hopefully somebody with design taste will redo it as soon as possible.
-->

{% load mptt_tags %}
<div class="comments">
    {% recursetree nodes %}
        <!-- This is supposed to be css'd nice with list stuff, but instead I'm div-ing it and giving it text indent. Someone will fix it!
        <li class="comment={{ node.id }}" style="text-indent:{{ node.level }}em;">
{{ node.level }}
        -->
        <div class="comment={{ node.id }}" >
            <div>
            <b><a href="/userProfile/{{node.commenter.pk}}">{{ node.commenter }}</a></b> <font size="1" title="{{node.created}}">{{ node.created|timesince }} ago</font>
            <br>
            {{ node.commenttext }}
            <br>
            {% if user.is_authenticated %}
                <a class="commentReply" href="/project/{{ projectpk }}/comment/{{ node.id }}/">
                <font size="1">reply</font>
                </a>
            {% endif %}
            </div>
            {% if not node.is_leaf_node %}
                <ul class="children">
                    {{ children }}
                </ul>
            {% endif %}
        </div>
    {% endrecursetree %}
</div>


