

<!--
Tristan did all the html formatting iup in here.
Hopefully somebody with design taste will redo it as soon as possible.
-->

{% load mptt_tags %}
<ul class="comments">
    {% recursetree nodes %}
        <li class="comment={{ node.id }}">
            {{ node.level }}
               ..
            <font size="1">@{{ node.created }}</font>
            <b>{{ node.commenter }}</b> <font size="1">says</font>
            "{{ node.commenttext }}"
            <font size="1">-_-_-_-___comment comment commentelate here.</font>
            {% if not node.is_leaf_node %}
                <ul class="children">
                    {{ children }}
                </ul>
            {% endif %}
        </li>
    {% endrecursetree %}
</ul>


