
{% extends "includes.html" %}
{% load crispy_forms_tags %}

{% block content %}

{{ msg }}

{% csrf_token %}


<div class="col-lg-6">
<h2>Register</h2>
<form enctype="multipart/form-data" action="/legister/" method="POST">{% csrf_token %}
    <input type="hidden" name="next" value="{{ next }}" />
    {{registerForm|crispy}}
    <input type="submit" class="btn btn-info" value="Register" name="action">
</form>

 </div>

 <div class="col-lg-6">
<h2>Login</h2>
<form action="/legister/" method="POST">{% csrf_token %}
    <input type="hidden" name="next" value="{{ next }}" /> 
    {{loginForm|crispy}}
    <input type="submit" class="btn btn-info" value="Login" name="action">
</form>

 </div>
{% endblock content %}
