<!DOCTYPE HTML>
<html lang="en">
{% load static %}
{% load scss %}

<head>
	<meta charset="utf-8">
	<meta name="description" content="">
	
	<title></title>
	
	<link href="/static/css/reset.css" media="screen, projection" rel="stylesheet" type="text/css">
	<link href="{% static "" %}{% scss "css/global.scss"%}" media="screen, projection" rel="stylesheet" type="text/css">
	<link href="/static/css/us-grid.css" media="screen, projection" rel="stylesheet" type="text/css">
	<link href="/static/css/foundation-icons.css" media="screen, projection" rel="stylesheet" type="text/css">
	<noscript><link href="/static/css/noscript.css" media="screen" rel="stylesheet" type="text/css"></noscript>
	
	<script src="http://code.jquery.com/jquery-latest.min.js" type="text/javascript"></script>
	<script src="/static/js/modernizr.js" type="text/javascript"></script>
	<script src="/static/js/customScript.js" type="text/javascript"></script>
	<script src="/static/js/jquery.colorbox.js"></script>
<script>
jQuery(document).ready(function () {
                for (var i =0; i< 99; i++){
                        jQuery('a.gallery-'+i).colorbox({ opacity:0.5 , rel:'group'+i, width:"70%", height:"70%"});
                }
                $(".iframe").colorbox({iframe:true, width:"70%", height:"70%"});
            jQuery('a.gallery-base').colorbox({ opacity:0.5 , rel:'group-base', width:"70%", height:"70%"});
            });

</script>

<script src="/static/script/trier/src/trier.js"></script>
{% load coffeescript %}
<script type="text/javascript"
        src="{% static "" %}{% coffeescript "script/thumbloader.coffee" %}">
</script>

<script>
thumbloader = new thumbloader
</script>



<link rel="stylesheet" href="{% static "" %}{% scss "css/settings.scss" %}" />

</head>


{% load menu %}
{% menu  %}
{% block contenttop %}
{% endblock %}
{% block content %}
{% endblock %}
