<head>
<link rel="stylesheet" type="text/css" href="/static/css/reset.css">
<link rel="stylesheet" type="text/css" href="/static/css/960.css">
<link rel="stylesheet" type="text/css" href="/static/css/style.css">
<link rel="stylesheet" type="text/css" href="/static/css/showcase.css">
<link rel="stylesheet" type="text/css" href="/static/css/nav.css">
<link rel="stylesheet" type="text/css" href="/static/css/footer.css">
<link rel="stylesheet" type="text/css" href="/static/css/footerfix.css">
<link rel="stylesheet" type="text/css" href="/static/css/colorbox.css">

<script src="//ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
<script src="/static/js/jquery.colorbox.js"></script>
<script>
jQuery(document).ready(function () {
                for (var i =0; i< 99; i++){
                        jQuery('a.gallery-'+i).colorbox({ opacity:0.5 , rel:'group'+i, width:"70%", height:"70%"});
                }
                $(".iframe").colorbox({iframe:true, width:"70%", height:"70%"});
            jQuery('a.gallery-base').colorbox({ opacity:0.5 , rel:'group-base', width:"70%", height:"70%"});
            });

</script>

</head>
<body>

{% load menu %}
{% menu  %}
{% block contenttop %}
{% endblock %}
{% block content %}
{% endblock %}

