 
<div class="row">
    <!-- Projects-->
    {% for project, thumb in listdata %}
<div class="col-xs-6 col-md-3">
<div class="projecthumb">
            <a href="/project/{{ project.id }}">
                {% include "thumbview.html" with thumbnail=thumb %}
<h3>{{ project.title }}</h3>
</a>
<div class="thumbMetaBox">
    <span><a  href="/userProfile/{{ project.author.pk }}">{{ project.author }}</a></span>
    <span style="float:right;">
        <span title="Rating"><i class="fi-like"></i>
        {% if not project.ratingCount %}
        0
        {% else %}
        {{ project.ratingCount }}
        {% endif %}
        </span>
        <span title="Downloads">
        <i class="fi-download"></i>
        {{ project.downloadcount.score }}
        </span>

    </span>
</div>

</div>
 </div>
{% cycle '' '' '' '<div class="clearfix visible-xs-block"></div>'%}

    {% endfor %}

    <!-- Next/Prev page links-->
    {% if listdata.object_list and listdata.paginator.num_pages > 1 %}
        <div class="pagination">
            <span class="step-links">
                {% if listdata.has_previous %}
                    <a href= "?page={{ listdata.previous_page_number }}">newer entries &lt;&lt; </a>
                {% endif %}
                <span class="current">
                    &nbsp;Page {{ listdata.number }} of {{ listdata.paginator.num_pages }}
                </span>
                {% if listdata.has_next %}
                    <a href="?page={{ listdata.next_page_number }}"> &gt;&gt; older entries</a>
                {% endif %}
            </span>
        </div>
    {% endif %}


 </div>
