 
<div class="row">
    <!-- Projects-->
    {% for project, thumb in listdata %}
        <div class="col-xs-6 col-md-3">
            <a href="/project/{{ project.id }}" class="thumbnail projecthumb">
                {% include "thumbview.html" with thumbnail=thumb %}
                <div class="caption">
                    <h3>{{ project.title }}</h3>
                </div>
            </a>
        </div>
    {% endfor %}

    <!-- Next/Prev page links-->
    {% if listdata.object_list and listdata.paginator.num_pages > 1 %}
        <div class="pagination">
            <span class="step-links">
                {% if listdata.has_previous %}
                    <a href= "?page={{ listdata.previous_page_number }}">newer entries &lt;&lt; </a>
                {% endif %}
                <span class="current">
                    &nbsp;Page {{ listdata.number }} of {{ listdata.paginator.num_pages }}
                </span>
                {% if listdata.has_next %}
                    <a href="?page={{ listdata.next_page_number }}"> &gt;&gt; older entries</a>
                {% endif %}
            </span>
        </div>
    {% endif %}

</div>
