{% for thumbnail,fullpath,renderer in images %}
{% if renderer == "browser" %}
	<li  class="thumbloader pk={{thumbnail.pk}}"><a class="imageSwitch browser" href="{{fullpath.filename.url}}" rel="{{ fullpath.filename.url }}"><img src="{{ thumbnail.filename.url  }}" alt="sample image"></a></li>
{% endif %}
{% if renderer == "jsc3d" %}
	<li  class="thumbloader pk={{thumbnail.pk}}"><a class="imageSwitch iframe jsc3d" href="/preview/jsc3d/{{fullpath.pk}}" rel="/preview/jsc3d/{{ fullpath.pk }}"><img src="{{ thumbnail.filename.url }}" alt="sample image"></a></li>
{% endif %}
{% if renderer == "ajax" %}
         <a class="thumbloader pk={{thumbnail.pk}}"><script>thumbloader.register("{{thumbnail.pk}}", "gallery-{{ galleryname }}")</script></a>
{% endif %}
{% endfor %}
