{% for thumbnail,fullpath,renderer in images %}
{% if renderer == "browser" %}
<a href="{{ fullpath.filename.url }}" class="gallery-{{ galleryname }}"><img src="{{ thumbnail.filename.url }}" class="thumbnail"></a>
{% endif %}
{% if renderer == "jsc3d" %}
<a href="/preview/jsc3d/{{ fullpath.pk }}" class="iframe gallery-{{ galleryname }}"><img src="{{ thumbnail.filename.url }}" class="thumbnail"></a>
{% endif %}

{% if renderer == "ajax" %}
         <div class="thumbloader pk={{thumbnail.pk}}"><script>thumbloader.register("{{thumbnail.pk}}", "gallery-{{ galleryname }}")</script></div>
{% endif %}

{% endfor %}
