{% if thumbnail.filetype == "ajax" %}
<div class="thumbloader pk={{thumbnail.pk}} thumb">
<script>thumbloader.register("{{thumbnail.pk}}", "gallery-{{ galleryname }}")</script>


<div style="background-color:#dddddd; height:{{thumbnail.filey}}px; min-width:{{thumbnail.filex}}px; text-align:center; vertical-align: middle; line-height: {{thumbnail.filey}}px;">

<div class="spinner">
  <div class="bounce1"></div>
  <div class="bounce2"></div>
  <div class="bounce3"></div>
</div>

</div>

</div>
{% else %}
<img src="{{ thumbnail.filename.url }}" class="thumb">
{% endif %}

