

{% extends "comments/base.html" %}{% load i18n %}

{% block title %}{% trans "Thanks for the small and irreplacable fragment of your soul." %}{% endblock %}

{% block extrahead %}
{{ block.super }}
    <meta http-equiv="Refresh" content="2; url=/project/{{ comment.content_object.pk }}#c{{ comment.id }}" />
{% endblock %}

{% block content %}
    <h2>{% trans "Thanks for your words. They belong to the world for eternity now." %}</h2>
    <p>
      {% blocktrans %}
      You will be sent back...
      {% endblocktrans %}
    </p>

    <p><a href="/project/{{ comment.content_object.pk }}#c{{ comment.id }}">{% trans "Back to the article" %}</a></p>

{% endblock %}


